<h1>Edit Planet</h1>

<%= form_for @planet do |f| %>

  <% if @planet.errors.any? %>
    <div id="error_explanation">
      <h3>
        <%= pluralize(@planet.errors.count, "error") %>
        prohibited this form from being submitted:
      </h3>

      <ul>
      <% @planet.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	<% f.hidden_field :price %>

	<div class="form-group">
		<%= f.label :name %> (between 3-20 letters)
    <%= f.text_field :name, class: "form-control" %>
	</div>

	<div class="form-group">
		<%= f.label :population %> (in thousands, max. 8,000,000,000)
    <%= f.number_field :population, class: "form-control" %>
	</div>

	<div class="form-group">
		<%= f.label :moons %> (max. 15)
    <%= f.number_field :moons, class: "form-control" %>
	</div>

	<%= f.submit 'Submit', class: "btn btn-default" %>

<% end %>