<h1>Welcome to <%= @planet.name %></h1>
<h2>Owner: <%= @planet.user.name %></h2>

<h2>Population: <%= @planet.population %></h2>
<h2>Moons: <%= @planet.moons %></h2>
<h2>Price: <%= @planet.price * 1000 %> Pu</h2>

<h2>Features:</h2>
<table>
	<tr>
		<th>Feature</th>
		<th>Size (fy sq.)</th>
	</tr>
	<% @planet.orders.each do |order| %>
		<tr>
			<td><%= link_to order.feature.name, feature_path(order.feature) %></td>
			<td><%= order.size %></td>
		</tr>
	<% end %>
</table>
