<table class="table">
	<tr>
		<th>Order ID</th>
		<th>Feature</th>
		<th>Planet</th>
		<th>Size (fy sq.)</th>
		<th>Price (Pu)</th>
		<th>Customer</th>
		<th>Customer Email</th>
	</tr>
	<% @orders.each do |order| %>
		<tr>
			<td><%= order.id %></td>
			<td><%= order.feature.name %></td>
			<td><%= link_to order.planet.name, planet_path(order.planet) %></td>
			<td><%= order.size %></td>
			<td><%= order.price * 1000 %></td>
			<td><%= link_to order.planet.user.name, user_path(order.planet.user) %></td>
			<td><%= order.planet.user.email %></td>
		</tr>
	<% end %>
</table>