<h1>Order a New Feature</h1>

<%= form_for @order do |f| %>

	<% f.hidden_field :price %>

	<div class="form-group">
		<%= f.label 'Choose a Planet' %>
    <%= f.collection_select :planet, Planet.all, :id, :name, :class => "form-control" %>
	</div>

	<div class="form-group">
		<%= f.label 'Choose a feature', :class => "form-check-inline" %>
    <%= f.collection_select :feature, Feature.all, :id, :name, :class => "form-check-input"%>
	</div>

	<div class="form-group">
    <%= ff.fields_for :feature do |fff| %>

      <%= fff.label :name %>
      <%= fff.text_field :name, class: "form-control" %>

      <%= fff.label :description %>
      <%= fff.text_area :description, class: "form-control" %>
    <% end %>

	  <%= ff.label :size %>
	  <%= ff.number_field :size, class: "form-control" %>
	</div>

	<div class="form-group">
		<%= f.label :size %> (in fy sq., max. 8,000,000)
    <%= f.number_field :size, :class => "form-control" %>
	</div>

	<%= f.submit 'Order Planet', :class => "btn btn-default", data: { confirm: "Are you sure?" } %>

<% end %>