<div class="jumbotron">
	<h1>Available Features</h1>
	<div id="features-list">
		<ul class="list-group">
			<% @features.each do |feature| %>
					<li class="list-group-item"><%= link_to feature.name.titleize, feature_path(feature) %></li>
			<% end %>
		</ul>
	</div>
</div>

<script id="feature-template" type="text/x-handlebars-template">
	<li class="list-group-item">
		<a href="/features/{{i">{{name}}</a>
	</li>
</script>

<div class="jumbotron col-md-6">
	<h2>Add A Feature</h2>
	
	<%= form_for @feature do |f| %>
		<% if @feature.errors.any? %>
	    <div id="error_explanation">
	      <h3>
	        <%= pluralize(@feature.errors.count, "error") %>
	        prohibited this form from being submitted:
	      </h3>

	      <ul>
	      <% @feature.errors.full_messages.each do |msg| %>
	        <li><%= msg %></li>
	      <% end %>
	      </ul>
	    </div>
	  <% end %>
	
		<div class="form-group">
			<h3><%= f.label :name %></h3>
	    <%= f.text_field :name, :class => "form-control" %>
		</div>

		<div class="form-group">
			<h3><%= f.label :description %></h3>
	    <%= f.text_area :description, :class => "form-control" %>
		</div>
	
		<%= f.submit 'Create New Feature', class: "btn btn-default submit-btn" %>
	
	<% end %>
</div>