<div class="row">
	<div class="jumbotron col-md-6">
		<h1 class="featureName"><%= @feature.name.titleize %></h1>
		<p class="featureDescription"><%= @feature.description %></p>
	</div>
	
	<div class="col-md-6">
		<%= image_tag @feature.name.parameterize, :class => "img-rounded img-responsive" %>
	</div>

</div>

<div class="row">
	<button class="btn btn-default"><%= link_to 'Show all orders for this feature', feature_orders_path(@feature), :class => "show-orders" %></button>
	
	<button class="js-next btn btn-default" data-id="<%= @feature.id %>">Next</button>
</div> <br>

<div class="orders-list">
	<table class="table"></table>
</div>
