<div class="navbar">
	<div class="text-right">
		<%= link_to("Sign out", destroy_user_session_path, :method => "delete") %> | 
		<%= link_to("Home", "/") %> | 
		<%= link_to("Sign in", new_user_session_path) %> | 
		<%= link_to("Sign up", new_user_registration_path) %>
	</div>

	<div class="text-left">
		<%= link_to 'Home', root_path %> | 
		<%= link_to 'Browse Planets', planets_path %> | 
		<%= link_to 'Browse Features', features_path %> | 
		<%= link_to 'Order Planet', new_planet_path %> | 
		<%= link_to 'Order Feature', new_order_path %>
	</div>

</div>