<!DOCTYPE html>
<html>
<head>
  <title>OovartsPlanetShop</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
	<h1 class="logo">
		<a href="/">Oovart's Planet Shop At the End of the Universe</a>
	</h1>
	
  <%= render 'layouts/messages' %>
  <%= render 'layouts/navigation' %>

	<%= yield %>
</div>

</body>
</html>
