<!DOCTYPE html>
<html>
<head>
  <title>OovartsPlanetShop</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
	<h1 class="logo">
		<a href="/">Oovart's Planet Shop At the End of the Universe</a>
	</h1>
	<div class="navbar">
		<div class="text-right">
			<%= link_to("Sign out", destroy_user_session_path, :method => "delete") %> | 
			<%= link_to("Home", "/") %> | 
			<%= link_to("Sign in", new_user_session_path) %> | 
			<%= link_to("Sign up", new_user_registration_path) %>
		</div>

		<div class="text-left">
			<%= link_to 'Home', root_path %> | 
			<%= link_to 'Browse Planets', planets_path %> | 
			<%= link_to 'Browse Features', features_path %> | 
			<%= link_to 'Order Planet', new_planet_path %> | 
			<%= link_to 'Order Feature', new_order_path %>
		</div>

	</div>
	<%= yield %>
</div>

</body>
</html>
